body {
    font-family: 'Cormorant SC', serif;
}

.container {
    background-color: #141414;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.content h1 {
    font-size: 4rem;
    color: #A16AE8;
}

.content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #340744;
}

.btn {
    font-size: 1rem;
    background-color: #A16AE8;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    outline: none;
}

.btn a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}

.btn:after {
    position: after;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #603F8B;
    border-radius: 4px;
}

.btn:hover {
    color: #B4FEE7;
}

.btn:hover:after {
    width: 100%;
}

.img {
    text-align: center;
}

#travel-img {
    height: 80%;
    width: 80%;
}

.reviews {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.reviews h1 {
    color: #A16AE8;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #ffffff;
    background-size: cover;
    position: relative;
    font-weight: 3rem;
    justify-content: space-between;
    text-align: center;
}

#events {
    background-image: url(/img/events.jpg);
    color: #ffffff;
    margin-top: 10px;
}

#flights {
    background-image: url(/img/plane.jpg);
    color: #ffffff;
    margin-right: 25px;
    margin-top: 10px;
}

#rides {
    background-image: url(/img/car.jpg);
    color: #ffffff;
    margin-top: 10px;
}

#stays {
    background-image: url(/img/hotel.jpg);
    color: #ffffff;
    margin-right: 25px;
    margin-top: 10px;
}

.services-card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services-card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.card-btn {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #A16AE8;
    position: absloute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
}

.services-card:hover {
    transform: scale(1.75);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .content h1 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .content p {
        margin-top: 2 rem;
        font-size: 1.5rem;
    }

    .btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

@media screen and (max-width: 960px) {
    .reviews {
        height: 1600px;
    }

    .reviews h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .reviews {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services-card {
        width: 300px;
    }
}
